# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore environment and configuration files
.env
db.sqlite3
myenv
# Ignore virtual environment directory
venv/

# Ignore local development files
demo.py

# Ignore editor specific files and directories
.vscode/
*.suo
*.ntvs_analysis.dat
*.nib
*.sw?
*.DS_Store
myenv/
